<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hta.elevator.mapper.ApiSecretKeyMapper">
    
    <resultMap type="com.hta.elevator.domain.ApiSecretKey" id="ApiSecretKeyResult">
        <result property="Id"    column="Id"    />
        <result property="GroupId"    column="GroupId"    />
        <result property="Remark"    column="Remark"    />
        <result property="AppId"    column="AppId"    />
        <result property="SecretKey"    column="SecretKey"    />
        <result property="UpdateTime"    column="UpdateTime"    />
        <result property="CreateTime"    column="CreateTime"    />
        <result property="UpdateUserId"    column="UpdateUserId"    />
        <result property="CreateUserId"    column="CreateUserId"    />
    </resultMap>
	
	<sql id="selectApiSecretKeyVo">
        select Id, GroupId, Remark, AppId, SecretKey, UpdateTime, CreateTime, UpdateUserId, CreateUserId from ApiSecretKey
    </sql>
	
    <select id="selectListOrPage" parameterType="com.hta.elevator.domain.ApiSecretKey" resultMap="ApiSecretKeyResult">
        <include refid="selectApiSecretKeyVo"/>
        <where>  
            <if test="Id != null "> and Id = #{Id}</if>
             <if test="GroupId != null "> and GroupId = #{GroupId}</if>
             <if test="Remark != null  and Remark != '' "> and Remark = #{Remark}</if>
             <if test="AppId != null  and AppId != '' "> and AppId = #{AppId}</if>
             <if test="SecretKey != null  and SecretKey != '' "> and SecretKey = #{SecretKey}</if>
             <if test="UpdateTime != null "> and UpdateTime = #{UpdateTime}</if>
             <if test="CreateTime != null "> and CreateTime = #{CreateTime}</if>
             <if test="UpdateUserId != null "> and UpdateUserId = #{UpdateUserId}</if>
             <if test="CreateUserId != null "> and CreateUserId = #{CreateUserId}</if>
         </where>
    </select>
    <select id="selectListCount" parameterType="com.hta.elevator.domain.ApiSecretKey" resultType="Integer">
        select count(*)  from ApiSecretKey
        <where>  
            <if test="Id != null "> and Id = #{Id}</if>
             <if test="GroupId != null "> and GroupId = #{GroupId}</if>
             <if test="Remark != null  and Remark != '' "> and Remark = #{Remark}</if>
             <if test="AppId != null  and AppId != '' "> and AppId = #{AppId}</if>
             <if test="SecretKey != null  and SecretKey != '' "> and SecretKey = #{SecretKey}</if>
             <if test="UpdateTime != null "> and UpdateTime = #{UpdateTime}</if>
             <if test="CreateTime != null "> and CreateTime = #{CreateTime}</if>
             <if test="UpdateUserId != null "> and UpdateUserId = #{UpdateUserId}</if>
             <if test="CreateUserId != null "> and CreateUserId = #{CreateUserId}</if>
         </where>
    </select>
    <select id="selectByPrimaryKey" parameterType="Long" resultMap="ApiSecretKeyResult">
        <include refid="selectApiSecretKeyVo"/>
        where Id = #{Id}
    </select>
    
    <insert id="insertSelective" parameterType="com.hta.elevator.domain.ApiSecretKey">
        insert into ApiSecretKey
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="Id != null  ">Id,</if>
			<if test="GroupId != null  ">GroupId,</if>
			<if test="Remark != null  and Remark != ''  ">Remark,</if>
			<if test="AppId != null  and AppId != ''  ">AppId,</if>
			<if test="SecretKey != null  and SecretKey != ''  ">SecretKey,</if>
			<if test="UpdateTime != null  ">UpdateTime,</if>
			<if test="CreateTime != null  ">CreateTime,</if>
			<if test="UpdateUserId != null  ">UpdateUserId,</if>
			<if test="CreateUserId != null  ">CreateUserId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="Id != null  ">#{Id},</if>
			<if test="GroupId != null  ">#{GroupId},</if>
			<if test="Remark != null  and Remark != ''  ">#{Remark},</if>
			<if test="AppId != null  and AppId != ''  ">#{AppId},</if>
			<if test="SecretKey != null  and SecretKey != ''  ">#{SecretKey},</if>
			<if test="UpdateTime != null  ">#{UpdateTime},</if>
			<if test="CreateTime != null  ">#{CreateTime},</if>
			<if test="UpdateUserId != null  ">#{UpdateUserId},</if>
			<if test="CreateUserId != null  ">#{CreateUserId},</if>
         </trim>
    </insert>
	 
    <update id="updateByPrimaryKeySelective" parameterType="com.hta.elevator.domain.ApiSecretKey">
        update ApiSecretKey
        <trim prefix="SET" suffixOverrides=",">
            <if test="GroupId != null  ">GroupId = #{GroupId},</if>
            <if test="Remark != null  and Remark != ''  ">Remark = #{Remark},</if>
            <if test="AppId != null  and AppId != ''  ">AppId = #{AppId},</if>
            <if test="SecretKey != null  and SecretKey != ''  ">SecretKey = #{SecretKey},</if>
            <if test="UpdateTime != null  ">UpdateTime = #{UpdateTime},</if>
            <if test="CreateTime != null  ">CreateTime = #{CreateTime},</if>
            <if test="UpdateUserId != null  ">UpdateUserId = #{UpdateUserId},</if>
            <if test="CreateUserId != null  ">CreateUserId = #{CreateUserId},</if>
        </trim>
        where Id = #{Id}
    </update>

	<delete id="deleteByPrimaryKey" parameterType="Long">
        delete from ApiSecretKey where Id = #{Id}
    </delete>
	
    <delete id="batchDeleteByIds" parameterType="String">
        delete from ApiSecretKey where Id in 
        <foreach item="Id" collection="array" open="(" separator="," close=")">
            #{Id}
        </foreach>
    </delete>
    <insert id="batchInsert" parameterType="com.hta.elevator.domain.ApiSecretKey">
        insert into ApiSecretKey
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="Id != null  ">Id,</if>
			<if test="GroupId != null  ">GroupId,</if>
			<if test="Remark != null  and Remark != ''  ">Remark,</if>
			<if test="AppId != null  and AppId != ''  ">AppId,</if>
			<if test="SecretKey != null  and SecretKey != ''  ">SecretKey,</if>
			<if test="UpdateTime != null  ">UpdateTime,</if>
			<if test="CreateTime != null  ">CreateTime,</if>
			<if test="UpdateUserId != null  ">UpdateUserId,</if>
			<if test="CreateUserId != null  ">CreateUserId,</if>
         </trim>
         VALUES
 <foreach item="t" collection="list" index="index"  separator="," >
           <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="Id != null  ">#{t.Id},</if>
			<if test="GroupId != null  ">#{t.GroupId},</if>
			<if test="Remark != null  and Remark != ''  ">#{t.Remark},</if>
			<if test="AppId != null  and AppId != ''  ">#{t.AppId},</if>
			<if test="SecretKey != null  and SecretKey != ''  ">#{t.SecretKey},</if>
			<if test="UpdateTime != null  ">#{t.UpdateTime},</if>
			<if test="CreateTime != null  ">#{t.CreateTime},</if>
			<if test="UpdateUserId != null  ">#{t.UpdateUserId},</if>
			<if test="CreateUserId != null  ">#{t.CreateUserId},</if>
         </trim>
  </foreach>
        
    </insert>
</mapper>