package ${package}.service;
import com.hta.elevator.common.service.BaseService;
import ${package}.domain.${className};
import java.util.List;

/**
 * ${tableComment} 服务层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}>
{
	
	
}
